.destination {
    display: flex;
    align-items: center;
}
.info {
    width: 350px;
    text-align: left;
    padding-left: 50px;
    padding-top: 50px;
}
.location {
    display: flex;
    align-items: center;
}
.destinationImg{
    height: 320px;
    width: 200px;
    margin: 50px 10px;
    cursor: pointer;
}
.destinationImg:hover{
    border: 2px solid rgb(245, 201, 4);
    height: 320px;
    width: 200px;
    margin: 50px 10px;
    border-radius: 15px;
}
