.back-img{
    height: auto;
    width: 100%;
    background-position: center center;
    background-size: cover;
}
.info {
    width: 350px;
    text-align: left;
    padding-left: 50px;
    padding-top: 50px;
}
.info h1{
    color: white;
}
.info p{
    color: white;
}
.destinationImg{
    height: 320px;
    width: 200px;
    margin: 50px 10px;
    cursor: pointer;
}
.destinationImg:hover{
    border: 2px solid rgb(245, 201, 4);
    height: 320px;
    width: 200px;
    margin: 50px 10px;
    border-radius: 15px;
}
.rec-carousel-item:focus {
    outline: none;
    box-shadow: inset 0 0 1px 0px violet;
}
.App {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.btn-login{
    text-decoration: none;
}