.user{
    display:flex;
}
.user-info{
    display:flex;
    padding-right: 15px;
}
.user-info img{
    padding-right: 15px;
    border-radius: 3px;
}
.btn-login{
    margin-top: 10px;
}
.menuItem {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 15px;
}
.onOpen{
    color: black;
}
.MuiAppBar-colorPrimary {
    background-color: rgba(0, 0, 0, 0) !important;
}
.MuiPaper-elevation4{
    box-shadow: none !important;
}