.form{
    text-align: center;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px gray;
    border-radius: 5px;
    width: 300px;
}
.form-container{
    margin: auto;
    width: 300px;
}
.align-item{
    text-align: center;
}
.icon{
    height: 22px;
    padding-right: 5px;
}
.MuiButton-root{
    letter-spacing: 0.01em !important;
    font-size: 0.8rem !important;
}